<!-- 
<div class="container">
    <div class="row">
        <div class="col-4"><app-kitchen></app-kitchen></div>
        <div class="col-4"><app-work-area></app-work-area></div>
        <div class="col-7"><app-dinning></app-dinning></div>
    </div>
    <div class="row">
       
        <div class="col-3"><app-l-room></app-l-room></div>
    </div>
    <div class="row">
        
        <div class="col-6"><app-bed-room></app-bed-room></div>
        <div class="col-3">
            <app-bath-room></app-bath-room>
        </div>
    </div>

   
    






</div>
 -->

<!-- <app-form></app-form>
 @if (isAdmin) {
    <app-admin></app-admin>
 }
 @else {
    <div>You Are not Authorized!!!!</div>
 } -->

 <!-- <app-carousel [data]="productsByCategory[item]"></app-carousel> -->
 <!-- <div class="container mt-5 d-flex">  
    <div class="col" style="overflow: hidden;">
       @for (item of categories; track item) {
        <h2>{{item}} </h2>
        <div class="d-flex">            
        <app-carosul [products]="categorizedProducts[item]" style="display: inline-flex;"></app-carosul>  
      </div>
    }
    </div>
     
    </div> -->

  @for (items of productsByCategory; track items.category)
    {
        <div class="c-container">
            
            <h4 class="category-title mb-4">{{items.category}}</h4>
            <div class="card-carousel ">
            @for (item of items.products; track item.id)
            {
            <div class="col ">
                <app-cards [title]="item.title" [description]="item.description" [category]="item.category" [src]="item.images[0]"></app-cards>
            </div>
            }
   
    </div>
</div>
    } 
